@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, "Miama";
}

/* navber section style here*/

header {
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);
}

/* navber section style here  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
  align-items: center;
}
.navbar > li {
  list-style: none;
}
.navbar > li a {
  text-decoration: none;
  color: #fc7100;
}
.navbar ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.menu a i {
  color: white;
}
.Home {
  background: #e6533c;
  padding: 10px 20px;
  border-radius: 20px;
}
/* navber section start here */

.banner-main-container {
  padding-top: 50px;
  width: 100%;
}
.card-tittle {
  color: white;
}
.card-description {
  color: white;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.banenr-card-one {
  background-color: #fc7100;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 95px;
  position: absolute;
  bottom: 100px;
  left: -120px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
}
.fa-circle-play{
  display: none;
}
.banenr-card-one i {
  color: #fc7100;
  font-size: 30px;
}
.banenr-card-one h5 {
  color: white;
  font-size: 24px;
}
.banenr-card-one small {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banenr-card-two {
  background-color: #fc7100;
  width: 200px;
  height: 95px;
  position: absolute;
  top: 140px;
  right: -80px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 10px;

}
.banner-img {
  position: relative;
}
.banner-info {
  color: white;
}
.banenr-card-two h3{
  color: white;
  font-size: 24px;
  font-weight: 900;
}
.banenr-card-two small{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.65);


}
.banner-info h1 {
  padding-bottom: 10px;
}
.banner-info h1 span {
  color: #fff;
  font-family: Miama;
}
.banner-info small {
  padding-bottom: 10px;
}
.banner-btn-two {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid white;
  color: white;
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);
}
.banner-btn-one {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  background-color: #fc7100;
  border: none;
}
/* banner section style end here */

/* main section style here */
main {
  background-color: #000;
}

/* card srction style here */
.card-main-container {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px 40px;
}
.card-one {
  text-align: center;
  /* border: 2px solid tomato; */
  color: white;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}
.card-one h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-img-container {
  padding: 10px 0px;
  margin: auto;
  /* border: 2px solid rgb(6, 202, 94); */
}
.card-img-container img {
  border-radius: 100px;
}

/* card sectaion-end here  */

/* run sectaion  start here  */

.run-sectaion {
  margin: 50px 50px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  /* border: 2px solid tomato; */
  background-color: #2b2b2b;
  border-radius: 10px;
  justify-content: space-between;
  /* gap: 30px; */
}
.run-img-container {
  /* flex: 1; */
  /* border: 2px solid tomato; */
}
.run-img img {
  width: 500px;
  border-radius: 10px;
}
.run-info {
  /* border: 2px solid tomato; */
  /* flex: 1; */
}
.run-info h1 {
  color: white;
  padding-bottom: 10px;
}
.run-info small {
}
.run-info > div button {
  background-color: #fc7100;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
}

/* trainings section style here */
.trainings-section{
  margin: 0px 20px;
}
.trainings-card-container{
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.5fr;
}
.trainings-card1{
  background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url("../images//exercise1.jpg") lightgray 50% / cover no-repeat; ;
  height: 200px;
  background-position: center;
  background-size: cover;
  
}
.trainings-card2{
  background-color: #25160a;
  background-image: url("../images/exercise2.png");
  height: 200px;
  background-position: center;
  background-size: cover;
}
.trainings-card3{
  background-color: #645a51;
  background-image: url("../images/exercise3.png");
  height: 200px;
  background-position: center;
  background-size: cover;
}

.trainings-card-container-two{
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.90fr;

}
.trainings-two-card-1{
  background-color: #fc7100;
  height: 200px;
  background-image: url("../images/exercise4.png");
  background-position: center;
  background-size: cover;
}
.trainings-two-card-2{
  background-color: #fc7100;
  height: 200px;
  background-image: url("../images/exercise5.jpg");
  background-position: center;
  background-size: cover;
}
.trainings-two-card-3{
  background-color: #fc7100;
  height: 200px;
  background-image: url("../images/exercise6.jpg");
  background-position: center;
  background-size: cover;
}

/* meet section start here */

/* media query */

/* Responsive moblie view */

@media screen and (max-width: 576.99px) {
  /* navber section */
  .navbar > ul {
    display: none;
  }

  /* card section */
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* run section */
  .run-sectaion {
    flex-direction: column;
    gap: 30px;
  }
  .run-img img {
    /* width:500px ; */
    width: 100%;
  }
  .run-img-container {
    flex: 1;
  }
  .run-info {
    flex: 1;
  }
  .run-btn {
    text-align: center;
    padding: 0px 10px;
  }
  .run-btn button {
    width: 100%;
  }

  /* trainings section */
  .trainings-card3{
    display: none;
  }
  .trainings-card-container{
    grid-template-columns: 1fr 0.80fr;
  }
  .trainings-card-container-two{
    grid-template-columns: 0.80fr 1fr;
  }
  .trainings-two-card-3{
    display: none;
  }
  /* meet container */

  .banner-container {
    flex-direction: column;
    gap: 100px;
  }
  .banner-img img {
    width: 90%;
  }
  .banner-info {
    text-align: left;
    margin-left: 10px;
  }
  .banenr-card-two{
    top: 50px;
    right: 15px;
    width: 145px;
    height: 74px;
  }
  .banenr-card-one{
    width: 150px;
    height: 74px;
    left: 25px;
    bottom: 220px;
    gap: 10px;
  }
  .banenr-card-one small {
    font-size: 10px;
  }
  .fa-circle{
    display: none;

  }
  .fa-circle-play{
    display: block;
  }
  .banenr-card-two small {
    font-size: 10px;
  }
  .banner-main-container {
    padding-left: 16px;
  }
}

/* Responsive tab view */

@media screen and (min-width: 576.99px) and (max-width: 992.99px) {
  .menu {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .run-img img {
    /* width:500px ; */
    width: 100%;
  }
  .run-img-container {
    flex: 1;
  }
  .run-info {
    flex: 1;
  }
  /* tarinings section */
}

/* Responsive desktop view */

@media screen and (min-width: 992.99px) {
  .menu {
    display: none;
  }
  .card-4 {
    display: none;
  }
}
